body {
    width: 400px;
}

button {
    appearence: none;
    width: 100px;
    padding: 4px 10px;
    text-align: center;
    cursor: pointer;
}

.btn {
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
}

.btn-primary {
    font-size: 18px;
    color: #fff;
    background-color: #4B75B9;
    border: solid 1px #4B75B9;
}

input[type="text"] {
    width: 285px;
    appearence: none;
    padding: 4px;
    margin: 0 5px 8px 0;
    font-size: 15px;
    border: solid 1px #C0C0C0;
}

input[type="text"]:focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.input-primary {
    height: 22px;
}

select {
    width: 295px;
    appearance: none;
    padding: 4px;
    margin: -4px 2px 0 0;
    border: solid 1px #C0C0C0;
    font-size: 14px;
    background: none transparent;
    vertical-align: middle;
    cursor: pointer;
}

.snapshot-label {
    font-size: 11pt;
}
