/* common styles */
.section {
    margin-top: 40px;
}

.help-text {
    color: #B0B0B0;
}

.snapshot-label {
    font-size: 11pt;
}

.btn {
    appearence: none;
    width: 100px;
    padding: 4px 10px;
    text-align: center;
    cursor: pointer;
}

.btn-default {
    font-size: 15px;
    color: #000;
    background-color: #fff;
    border: solid 1px #000;
}

.btn-primary {
    height: 34px;
    font-size: 18px;
    color: #fff;
    background-color: #4285f4;
    border: solid 1px #4285f4;
}



/* styles used in popup.html */
.popup {
    width: 400px;
}

.popup input[type="text"] {
    width: 285px;
    height: 22px;
    appearence: none;
    padding: 4px;
    margin: 0 0 8px 0;
    font-size: 15px;
    border: solid 1px #C0C0C0;
    border-right: none;
}

span.snapshot {
    line-height: 18px;
    margin-right: 12px;
}

.snapshot input[type="radio"] {
    height: 18px;
    margin: 0 4px 0 0;
    vertical-align: middle;
}

.snapshot label {
    height: 18px;
    font-size: 14px;
    vertical-align: middle;
}



/* styles used in options.html */
.options {
    width: 900px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.options h1 {
    border-bottom: solid 1px #C0C0C0;
}


.options input[type="text"] {
    width: 285px;
    appearence: none;
    padding: 4px;
    margin: 0 5px 8px 0;
    font-size: 15px;
    border: solid 1px #C0C0C0;
}

.options select {
    width: 295px;
    appearance: none;
    padding: 4px;
    margin: -4px 5px 0 0;
    border: solid 1px #C0C0C0;
    font-size: 14px;
    background: none transparent;
    vertical-align: middle;
    cursor: pointer;
}

.message {
    padding: 10px 30px;
    margin-top: 20px;
    font-size: 15px;
    border-radius: 3px;
}

.message-success {
    border: solid 1px #3EBA2B;
    background: #D1F1CC;
    color: #23AC0E;
}

.message-warning {
    border: solid 1px #F0BA32;
    background: #FCF1D3;
    color: #EDAD0B;
}

.message-error {
    border: solid 1px #D04255;
    background: #F6D4D8;
    color: #C7243A;
}
